/* src/components/popup/LiveDubbingView.scss */
@use "@/assets/styles/base/variables" as *;

.live-dubbing-view {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.live-dubbing-view .live-dubbing-language-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 10px;
  gap: 8px;
  background: var(--language-controls-bg-color);
  box-sizing: border-box;
  width: 100%;
}

.live-dubbing-view .live-dubbing-language-controls > .ti-language-controls {
  flex: 1;
  min-width: 0;
}
