/* src/styles/content.css */
.translation-icon-extension {
  position: absolute !important;
  z-index: 2147483647 !important; /* حداکثر z-index */
  display: block !important;
  visibility: visible !important;
  pointer-events: all !important;
}

.disable-links a {
  pointer-events: none !important;
  cursor: crosshair !important; /* تغییر نشانگر موس */
  color: inherit; /* اخیاری: برای حذف رنگ پیش‌فرض لینک‌ها */
  text-decoration: none;
}
