/* src/styles/content.css */

/* Translation Icon */
.AIWritingCompanion-translation-icon-extension {
  position: absolute !important;
  z-index: 2147483647 !important; /* حداکثر z-index */
  display: block !important;
  visibility: visible !important;
  pointer-events: all !important;
}

.AIWritingCompanion-translation-icon-extension-fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* تنظیم مدت زمان و نوع انیمیشن */
}

.AIWritingCompanion-translation-icon-extension-fade-in {
  opacity: 1;
  transition: opacity 0.1s ease-in-out; /* تنظیم مدت زمان و نوع انیمیشن */
}

.AIWritingCompanion-translation-icon-extension-fade-in-initial {
  opacity: 0; /* حالت اولیه برای fade-in */
}

/* Notification */
.AIWritingCompanion-translation-notification {
  background-color: #f8f8f8; /* رنگ پس زمینه پیش فرض */
  color: #333; /* رنگ متن پیش فرض */
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0.95;
  direction: var(--text-direction, rtl);
  text-align: var(--text-alignment, right);
}

.AIWritingCompanion-notification-icon {
  margin-right: 10px;
  font-size: 1.2em;
}

.AIWritingCompanion-notification-text {
  flex-grow: 1;
  padding-right: 5px;
  padding-left: 5px;
}

/* استایل های مخصوص برای انواع اعلان */
.AIWritingCompanion-notification-error {
  background-color: #ffe0e0;
  border-color: #ffb3b3;
  color: #cc0000;
}

.AIWritingCompanion-notification-warning {
  background-color: #fff3e0;
  border-color: #ffe0b3;
  color: #ff9800;
}

.AIWritingCompanion-notification-success {
  background-color: #e0f7fa;
  border-color: #b2ebf2;
  color: #00897b;
}

.AIWritingCompanion-notification-info {
  background-color: #e3f2fd;
  border-color: #cce5ff;
  color: #1e88e5;
}

.AIWritingCompanion-notification-status {
  background-color: #f5f5f5;
  border-color: #e0e0e0;
  color: #757575;
}

.AIWritingCompanion-notification-revert {
  background-color: #f0f4c3;
  border-color: #e6ee9c;
  color: #689f38;
}

/* Disable Hyperlinks */
.AIWritingCompanion-disable-links a,
.AIWritingCompanion-disable-links button,
.AIWritingCompanion-disable-links [onclick],
.AIWritingCompanion-disable-links [role="link"],
.AIWritingCompanion-disable-links div[role="link"] {
  pointer-events: none !important;
  cursor: crosshair !important;
  color: inherit;
}

/* Selection Text Window */
.aiwc-selection-display-temp {
  background-color: #f8f8f8;
  color: #333;
  border: 1px solid #ddd;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: opacity 0.15s ease-in-out; /* برای fade-in */
}

.aiwc-selection-display-temp.fade-out {
  opacity: 0 !important; /* استفاده از !important برای اطمینان از اعمال شدن */
  transition: opacity 0.15s ease-in-out; /* برای fade-out */
}
